<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="Accounting_DBEntities" connectionString="metadata=res://*/AccounitingModel.csdl|res://*/AccounitingModel.ssdl|res://*/AccounitingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B7OG7MG\SQL2019;initial catalog=Accounting_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>